<div class="jumbotron">
    <div class="container">
        <h1>Project Portfolio</h1>
       
            <%= button_to 'Projects', projects_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
